backend/javascript/node_modules/**/*
backend/javascript/coverage
backend/javascript/dist
frontend/web/iO/node_modules/**/*
frontend/iOApp/node_modules/**/*
frontend/iOApp/.expo/*
frontend/iOApp/npm-debug.*
node_modules/**/*
.DS_Store
*.log