backend/javascript/node_modules/**/*
frontend/mobile/iO/node_modules/**/*
frontend/web/iO/node_modules/**/*
node_modules/**/*
.npm-debug.*
.DS_Store
*.log
backend/javascript/coverage
backend/javascript/dist